extends ../_template

block variables
  - var title = 'Дримвуд'

block content
  #boxercontainer.boxercontainer
    #col1.col
  #boxercontainer1.boxercontainer
    #col2.col
  #boxercontainer2.boxercontainer
    #col3.col
  #boxercontainer3.boxercontainer
    #col4.col
  #boxercontainer4.boxercontainer
    #col5.col
      .deg
        img(src="./img/krestik.svg", alt="").mob.krestik1
      img(src="./img/krestik.svg", alt="").mob.krestik2
  .container
    .logo
      img(src="./img/logo.svg", alt="ДримВуд")
    .social
      a(href="https://dreamwoodpark.com/").social__img
        img(src="./img/socials/inet.svg", alt="website")
        p.mob НА САЙТ
      a(href="https://www.instagram.com/dreamwoodpark/").social__img
        img(src="./img/socials/inst.svg", alt="instagram")
        p.mob INSTAGRAM
      a(href="https://vk.com/dreamwoodpark").social__img
        img(src="./img/socials/vk.svg", alt="vkontakte")
        p.mob ВКОНТАКТЕ
      a(href="https://www.facebook.com/dreamwoodpark/").social__img
        img(src="./img/socials/fb.svg", alt="facebook")
        p.mob FACEBOOK
      a(href="https://ok.ru/drimvud.g").social__img
        img(src="./img/socials/ok.svg", alt="odnoklassniki")
        p.mob ОДНОКЛАССНИКИ
    a(href="https://dreamwoodpark.com/ticket").ticket
      img(src="./img/Group.svg", alt="ticket")
    p.vamkuda ВАМ КУДА?

    
    
    
          
    





    
      
